<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheap Trains to LDN</title>
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}"/>
  <script>
  </script>
  <script defer src="{{url_for('static',filename='main.js')}}"></script>
</head>
<body>
  <h1>Cheap Trains to London</h1>
  <h2>Loading ...</h2>
  <div class="calendar-container">
    <div class="btns-month-container">
      <div class="wrapper">
        <button disabled id="prev-month-btn" onclick="prevMonth()">Back</button>
        <div style="font-weight: bold; font-size: 2em;">
          <span id="current-month">July</span>
          <span id="current-year">2024</span>
        </div>
        <button id="next-month-btn" onclick="nextMonth()">Forward</button>
      </div>
    </div>
    <div class="days-container">
      <table>
        <tbody>
        <tr>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
        </tr>
        <tr>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
        </tr>
        <tr>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
        </tr>
        <tr>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
        </tr>
        <tr>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
          <td><div class="date">2</div><div class="lowest-price">No Data</div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>